.header img{
	width: 60px;
	height: 60px;
	border-radius: 50%;
	margin:10px;
}
.header .name{
	margin-top: -50px;
	margin-left: 80px;
}
.content img{
	width: 95%;
	margin-top: 20px;
	margin-left: 8px;
	/*margin-right: 5px;*/
}
.content .font{
	font-size: 15px;
	color: #000000;
	line-height: 20px;
	margin: 10px;
	margin-bottom: 20px;
}

.talk_show .mui-scroll h5 {
	height: 30px;
	border-left: 10px solid green;
	padding-top: 10px;
	padding-left: 10px;
}

.talk_show .mui-scroll ul li a img {
	border-radius: 50%;
}

.talk_show .mui-scroll button{
	margin-top: 20px;
	margin-bottom: 20px;
}
.talk_show .mui-scroll .left{
	margin-left: 50px;
}
.talk_show .mui-scroll .right{
	margin-right: 60px;
}

.header button{
	margin-right: 30px;
	margin-top: -30px;
}
